
inclass/csc406/.DS_Store
hw/hw1/csc406-hw1/csc406-hw1.xcodeproj/project.xcworkspace/xcuserdata/michaelfelix.xcuserdatad/UserInterfaceState.xcuserstate
inclass/csc406/csc406.xcodeproj/project.xcworkspace/xcuserdata/michaelfelix.xcuserdatad/UserInterfaceState.xcuserstate
hw/Version1/Version1.xcodeproj/project.xcworkspace/xcuserdata/michaelfelix.xcuserdatad/UserInterfaceState.xcuserstate
hand-in/Prog1/v2/csc406-hw1.xcodeproj/project.xcworkspace/xcuserdata/michaelfelix.xcuserdatad/UserInterfaceState.xcuserstate
hw/Version1/.DS_Store
hw/.DS_Store
hand-in/Prog1/v1/csc406-hw1.xcodeproj/project.xcworkspace/xcuserdata/michaelfelix.xcuserdatad/UserInterfaceState.xcuserstate
hw/Version1/Version1/.DS_Store
