
inclass/csc406/.DS_Store
hw/hw1/csc406-hw1/csc406-hw1.xcodeproj/project.xcworkspace/xcuserdata/michaelfelix.xcuserdatad/UserInterfaceState.xcuserstate
inclass/csc406/csc406.xcodeproj/project.xcworkspace/xcuserdata/michaelfelix.xcuserdatad/UserInterfaceState.xcuserstate
hw/Version1/Version1.xcodeproj/project.xcworkspace/xcuserdata/michaelfelix.xcuserdatad/UserInterfaceState.xcuserstate
hand-in/Prog1/v2/csc406-hw1.xcodeproj/project.xcworkspace/xcuserdata/michaelfelix.xcuserdatad/UserInterfaceState.xcuserstate
hw/Version1/.DS_Store
hw/.DS_Store
hand-in/Prog1/v1/csc406-hw1.xcodeproj/project.xcworkspace/xcuserdata/michaelfelix.xcuserdatad/UserInterfaceState.xcuserstate
hw/Version1/Version1/.DS_Store
.DS_Store
Template Project/Template Project.xcodeproj/project.xcworkspace/xcuserdata/michaelfelix.xcuserdatad/UserInterfaceState.xcuserstate
hw/hw2/hw2.xcodeproj/project.xcworkspace/xcuserdata/michaelfelix.xcuserdatad/UserInterfaceState.xcuserstate
hw/Template Project/hw2.xcodeproj/project.xcworkspace/xcuserdata/michaelfelix.xcuserdatad/UserInterfaceState.xcuserstate
hw/Template Project/hw2.xcodeproj/project.xcworkspace/xcuserdata/michaelfelix.xcuserdatad/UserInterfaceState.xcuserstate
hw/hw2/hw2.xcodeproj/xcuserdata/michaelfelix.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
hw/hw3/hw3.xcodeproj/project.xcworkspace/xcuserdata/michaelfelix.xcuserdatad/UserInterfaceState.xcuserstate
hw/hw4/hw4/hw4.xcodeproj/project.xcworkspace/xcuserdata/michaelfelix.xcuserdatad/UserInterfaceState.xcuserstate
inclass/Week 13/Week 13 - Animation with KeyFrameAnimator.xcodeproj/project.xcworkspace/xcuserdata/jyh.xcuserdatad/UserInterfaceState.xcuserstate
inclass/Week 13/Week 13 - Animation with KeyFrameAnimator.xcodeproj/project.xcworkspace/xcuserdata/michaelfelix.xcuserdatad/UserInterfaceState.xcuserstate
